{{ template "chart.header" . }} 

{{ template "chart.description" . }} {{ template "chart.versionLine" . }}

## Installation

https://docs.feast.dev/v/master/getting-started/deploying-feast/kubernetes

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}